@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --textNum: 16;
  --txtSize: calc(var(--textNum) * 1px);
  --headingSize: calc((var(--textNum) * 2.1) * 1px);
  --lengthT: calc(var(--txtSize)+2px);
  --lengthH: calc(var(var(--headingSize))+2px);
}

html,
body {
  font-family: Inter, serif;
  @apply dark:bg-slate-900 min-h-[100%] dark:text-slate-300 bg-white text-[3vw]/[3.6vw] sm:text-[length:clamp(1.2vw,var(--txtSize),1.6vw)]/[var(--lengthT)] text-slate-600 overflow-x-hidden;
}
h1 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(4.5vw,var(--headingSize),5vw)]/[var(--lengthH)] uppercase font-semibold;
}

h2 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(3.2vw,var(--headingSize),4vw)]/[var(--lengthH)] uppercase font-semibold;
}

h3 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(2.8vw,var(--headingSize),3.2vw)]/[var(--lengthH)] uppercase font-semibold;
}

h4 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(2.2vw,var(--headingSize),2.6vw)]/[var(--lengthH)] uppercase font-semibold;
}

h5 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(1.75vw,var(--headingSize),2.1vw)]/[var(--lengthH)] uppercase font-semibold;
}

h6 {
  font-family: Roboto, sans-serif;
  @apply py-1 text-[length:clamp(1.15vw,var(--headingSize),1.65vw)]/[var(--lengthH)] uppercase font-semibold;
}
